/* General --------------------------------------------------------------------------------------- */
html {
    position:relative;
    min-height: 100%;
}

body {
    font-family: sans-serif;
    background-color: white;
    margin:0;
    padding:0;
}

.body {
    background-color: #ddd;
    padding-bottom: 90px;
}

.header .banner1 {
    width: 100%;
    height: 50px;
    background-color: green;
}

.header .banner1 .panel {
    width: 1060px;
    height: 50px;
    margin: auto;
    padding: 0;
}

.header .banner1 .panel .logo {
    float: left;
}

.header .banner1 .panel .logo h3 {
    margin: 0;
    padding-top: 7px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline gold;
}

.dropdown {
    float: right;
}

.dropbtn {
    right: 0;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    height: 35px;
    margin-top: 7px;
    background-color: green;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f5f5f5;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: green;
    border: 2px solid gold;
}

.header .banner2 {
    width: 100%;
    height: 20px;
    background-color: darkgreen;
}

/* Table ----------------------------------------------------------------------------------------- */
.table-custom {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

.table-custom td,
.table-custom th {
    border: 1px solid #ddd;
    padding: 8px 40px 8px 8px;
}

.table-custom th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: green;
    color: white;
}

.btn-modif {
    width: 100px;
    height: 30px;
    background-color: gold;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.btn-modif:hover {
    background-color: #F1C40F;
}

.btn-sup {
    width: 100px;
    height: 30px;
    background-color: gold;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.btn-sup:hover {
    background-color: #F1C40F;
}

/* Login ----------------------------------------------------------------------------------------- */
.container-login {
    background-color: white;
    border-radius: 5px;
    width: 660px;
    height: 500px;
    margin: 7em auto 30px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.container-register {
    background-color: white;
    border-radius: 5px;
    width: 600px;
    height: 1260px;
    margin: 30px auto 50px;
    padding: 30px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    display: none;
}

.logo-login {
    background-color: green;
    width: 100%;
    height: 50px;
    border-radius: 5px 5px 0 0;
}

.logo-login h3 {
    margin-left: 30px;
    padding-top: 7px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline gold;
}

.logo-login2 {
    background-color: darkgreen;
    width: 100%;
    height: 20px;
}

.btn-login {
    width: 400px;
    height: 50px;
    background-color: gold;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border: 0;
}

.btn-login:hover {
    background-color: #F1C40F;
    cursor: pointer;
}

.btn-register-form {
    width: 400px;
    height: 50px;
    background-color: green;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border: 0;
}

.btn-register-form:hover {
    background-color: darkgreen;
    cursor: pointer;
}

.content-login {
    width: 400px;
    height: 300px;
    padding-top: 70px;
    margin: auto;
}

.username-login-div {
    height: 70px;
}

.username-login-div input {
    height: 47px;
    border-radius: 5px;
    outline: none !important;
    border: 1px solid gray;
    width: 394px;
    color: black;
    font-weight: bold;
    margin-bottom: 60px;
}

.username-login-div input:hover {
    box-shadow: 0 0 1px 2px green;
    border: 1px solid green;
}

.username-login-div input:focus {
    box-shadow: 0 0 1px 2px green;
    border: 1px solid green;
}

.username-login-div input:active {
    box-shadow: 0 0 1px 2px green;
    border: 1px solid green;
}

.password-login-div {
    height: 70px;
}

.password-login-div input {
    height: 47px;
    border-radius: 5px;
    outline: none !important;
    border: 1px solid gray;
    width: 394px;
    color: black;
    font-weight: bold;
}

.password-login-div input:hover {
    box-shadow: 0 0 1px 2px green;
    border: 1px solid green;
}

.password-login-div input:focus {
    box-shadow: 0 0 1px 2px green;
    border: 1px solid green;
}

.password-login-div input:active {
    box-shadow: 0 0 1px 2px green;
    border: 1px solid green;
}

.content-register {
    width: 400px;
    padding-top: 20px;
    margin: auto;
}

.register-div {
    height: 90px;
}

.register-div label {
    display: block;
}

.register-div input {
    height: 47px;
    border-radius: 5px;
    outline: none !important;
    border: 1px solid gray;
    width: 394px;
    color: black;
    font-weight: bold;
    margin-bottom: 60px;
}

.register-div input[type=date] {
    width: 398px;
}

.register-div input:hover {
    box-shadow: 0 0 1px 2px green;
    border: 1px solid green;
}

.register-div input:focus {
    box-shadow: 0 0 1px 2px green;
    border: 1px solid green;
}

.register-div input:active {
    box-shadow: 0 0 1px 2px green;
    border: 1px solid green;
}

.register-button-div {
    display: flex;
    justify-content: space-between;
}

.btn-register {
    width: 190px;
    height: 50px;
    background-color: green;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border: 0;
}

.btn-register:hover {
    background-color: darkgreen;
    cursor: pointer;
}

.btn-reset {
    width: 190px;
    height: 50px;
    background-color: green;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border: 0;
}

.btn-reset:hover {
    background-color: darkgreen;
    cursor: pointer;
}

/* Home ------------------------------------------------------------------------------------------ */
.container {
    width: 100%;
}

.container2 {
    width: 100%;
    height: 100%;
    background-color: red;
}

.content1 {
    background-color: black;
    width: 100%;
    padding-bottom: 30px;
}

.head {
    width: 1060px;
    margin: auto;
    padding: 0;
}

.head .text {
    position: absolute;
    text-align: left;
    top: 20%;
    color: white;
    width: 870px;
    /*text-shadow: green 1px 1px, green -1px 1px, green -1px -1px, green 1px -1px;*/
    font-weight: bold;
    font-size: 26px;
    text-shadow: 0 0 2px black;
}

.img-home {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box {
    background-color: white;
    width: 1000px;
    margin: auto;
    border-radius: 5px;
    padding: 10px 30px 20px;
}

.box p {
    font-weight: bold;
}

.box div {
    display: inline-block;
    text-align: center;
    color: #000000;
}

.box div label{
    text-align: left;
    float: left;
    font-weight: bold;
    margin-bottom: 3px;
}

.box div.boxSelect1 {
    width: 255px;
}

.box div.boxSelect1 select {
    height: 50px;
    border-radius: 5px;
    outline: none !important;
    border: 1px solid gray;
    width: 100%;
    font-weight: bold;
    color:gray;
}

.box div.boxSelect1 select:hover {
    box-shadow: 0 0 1px 2px green;
}

.box div.boxSelect1 select:focus {
    box-shadow: 0 0 1px 2px green;
}

.box div.boxSelect1 select:active {
    box-shadow: 0 0 1px 2px green;
}

.box div.boxSelect1 select option:not(:first-of-type) {
    color: black;
}

.box div.boxSelect1 optgroup {
    color: green;
}

.box div.boxSelect1 option {
    height: 40px;
    font-size: 16px;
    padding: 10px;
    color: black;
}

.box div.boxSelect2 {
    width: 255px;
    margin-left: 10px;
}

.box div.boxSelect2 select {
    height: 50px;
    border-radius: 5px;
    outline: none !important;
    border: 1px solid gray;
    width: 100%;
    font-weight: bold;
    color:gray;
}

.box div.boxSelect2 select:hover {
    box-shadow: 0 0 1px 2px green;
}

.box div.boxSelect2 select:focus {
    box-shadow: 0 0 1px 2px green;
}

.box div.boxSelect2 select:active {
    box-shadow: 0 0 1px 2px green;
}

.box div.boxSelect2 select option:not(:first-of-type) {
    color: black;
}

.box div.boxSelect2 optgroup {
    color: green;
}

.box div.boxSelect2 option {
    height: 40px;
    font-size: 16px;
    padding: 10px;
    color: black;
}

.box div.boxDatetime1 {
    margin-left: 10px;
    margin-right: 3px;
    width: 220px;
}

.box div.boxDatetime1 .empty{
    color: #999;
}

.box div.boxDatetime2 {
    margin-left: 10px;
    margin-right: 3px;
    width: 220px;
}

.box div.boxDatetime2 .empty {
    color: #999;
}

.box div.submitButton {
    width: 100%;
    padding-top: 30px;
}

.searchButton {
    width: 200px;
    height: 50px;
    background-color: gold;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    float: right;
}

.searchButton:focus,
.searchButton:hover {
    background-color: #F1C40F;
    cursor: pointer;
}

.box div input[type=datetime-local] {
    height: 47px;
    border-radius: 5px;
    outline: none !important;
    border: 1px solid gray;
    width: 100%;
    color: black;
    font-weight: bold;
}

.box div input[type=datetime-local]:hover {
    box-shadow: 0 0 1px 2px green;
}

.box div input[type=datetime-local]:focus {
    box-shadow: 0 0 1px 2px green;
}

.box div input[type=datetime-local]:active {
    box-shadow: 0 0 1px 2px green;
}

.content2 {
    background-color: #ECF0F1;
    margin: 30px auto 90px;
    width: 1020px;
    height: 290px;
    padding: 20px;
}

.content2 .box1 {
    background-color: #ECF0F1;
    width: 300px;
    height: 250px;
    float: left;
    padding: 20px;
}

.img-box1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content2 .box1 h2 {
    height: 50px;
}

.content2 .box1 h2,
.content2 .box1 p {
    text-align: center;
}

.content2 .box2 {
    background-color: #ECF0F1;
    width: 300px;
    height: 250px;
    float: left;
    padding: 20px;
}

.img-box2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content2 .box2 h2 {
    height: 50px;
}

.content2 .box2 h2,
.content2 .box2 p {
    text-align: center;
}

.content2 .box3 {
    background-color: #ECF0F1;
    width: 300px;
    height: 250px;
    float: left;
    padding: 20px;
}

.img-box3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content2 .box3 h2 {
    height: 50px;
}

.content2 .box3 h2,
.content2 .box3 p {
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: black;
}

.footer .copyright {
    width: 1060px;
    margin: 25px auto;
}

.footer .copyright p {
    color: white;
    font-size: 14px;
    text-align: center;
}

/* Vehicle --------------------------------------------------------------------------------------- */
.content-vehicle {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 30px;
}

/* User ------------------------------------------------------------------------------------------ */
.content-utilisateur {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 30px;
}